.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "Question Image"
        "Answer1 Image"
        "Answer2 Image";
    width: 75%;
    height: 50%;
}

.Question {
    grid-area: Question;
    font-size: 2rem;
}

.Question h3{
    text-shadow: 2px 0px 5px white;
}

.Answer1 {
    grid-area: Answer1;
}

.Answer2 {
    grid-area: Answer2;
}

.Image {
    grid-area: Image;
}

.option{
    font-size: 1.1rem;
    width: 100%;
    height: 4rem;
    border: green 5px solid;
    border-radius: 13px; 
    cursor: pointer;   
}

@media (max-width: 480px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "Question"
        "Image"
        "Answer1"
        "Answer2";
    }
}