
.center {
    display: flex;
    align-items: center;
    justify-content: center;    
}



.typing-demo {
    width: 22ch;
    animation: typing 5s steps(6), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}



.result_picture{
    display: flex;
    justify-content: space-between;
    height :100%
   
}

.checkList{

}

.myclass {
  list-style-type:none;
  /* margin-left: 5px;    */
}



.result_picture_elements{
  height: 500px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
