
.center {
  display: flex;
  align-items: center;
  justify-content: center;    
}

/* Pattern styles */
.container-section {
display:flex;
}

.picture-section{
flex: 1;
}

.resultPic{
max-width: 100%;
/* min-height: 100%; */
}

.result-section {
flex: 1;
}

.result-section > div{
color : #ffffff;
padding : 1em 5em;
flex-direction: column;
}

.share-section > div{
padding : 1em 5em; 
}

.share-section > div > img{
padding : 1em;
}

.title{
  /* font-family: monospace; */
  font-size: 2em;
  padding-top :2em;
}

@media screen and (max-width: 450px){
.container-section {
  display:flex;
  flex-direction: column;    
}

.picture-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex:1;
} 

.result-section {
  flex: 1;
}

.resultPic{
  padding: 3em 0;
  width : 40%;
}


.title{
/* font-family: monospace; */
font-size: 1em;
padding-top :2em;
}

}

